body {
  background: #ffffffff;
  line-height: 1;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

#root {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
